doctype html
html(ng-app="webchat")
  head
    title Webchat
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    base(href="/")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/build/webchat.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css", integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi", crossorigin="anonymous")

  body(layout='column')
    div.body-container(flex='1')
      da-header
      div.ng-view-container(ng-view, layout='column')
    script(type="application/javascript", src="/build/vendor.min.js")
    script(type="application/javascript", src="/build/webchat.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js", integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK", crossorigin="anonymous")