div#signup
    h1.signup Welcome to Stellar Chat
    img.logo(src="/images/logo.svg")
    h4.instructions To chat, simply enter a username below
    form(ng-submit="signup()")
        input.signup(ng-model="user.username", placeholder="your username")
        button.signup-button.btn.btn-success(ng-show="user.username.length", type="button", ng-click="signup()") Put me in, coach!
            